extends ../layouts/default


block content
  .container
    .row
      .trailContainer.col-sm-5.col-sm-offset-1.col-md-5.col-md-offset-1
        .hamiltonCreekContainer
          h3.trailName Hamilton Creek
          a(href="../../images/mtbMaps/hamiltonCreek.jpg")
            img.trailMapImg(src="../../images/mtbMaps/hamiltonCreek.jpg" class="img-responsive" alt="Cinque Terre")
          p.trailInfo Rocks and roots.  11.5 miles of trail.  Challenging features throughout.
          p.trailInfo
            a(target="_blank" href="http://www.singletracks.com/bike-trails/hamilton-creek.html") Reviews
          p.trailInfo
            a(target="_blank" href="https://www.google.com/maps/place/Hamilton+Creek+Mountain+Bike+Trail,+Nashville,+TN+37217") Trailhead
      .trailContainer.col-md-5.col-sm-5
        .percyWarnerContainer
          h3.trailName Percy Warner MTB Park
          a(href="../../images/mtbMaps/warnerMtbPark.png")
            img.trailMapImg(src="../../images/mtbMaps/warnerMtbPark.png" class="img-responsive" alt="Cinque Terre")
          p.trailInfo The house favorite.  7 miles of polished singletrack.
          p.trailInfo
            a(target="_blank" href="http://www.singletracks.com/bike-trails/Percy-Warner-Mountain-Bike-Trails.html") Reviews
          p.trailInfo
            a(target="_blank" href="https://www.google.com/maps/place/Percy+warner+mountain+bike+trail") Trailhead
