extends ../layouts/default

block content
	.row
		.spinContainer
			button.btn-default.col-md-2.col-md-offset-4#spin Spin Studios
		.shopContainer
			button.btn-default.col-md-2#shop Bike Shops
	.row
		.shopsMapContainer
			#shopsMap.col-md-10.col-md-offset-1
		.spinMapContainer
			#spinMap.col-md-10.col-md-offset-1
